body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 30px;
}

.container {
  max-width: 800px;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

input,
textarea,
button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  cursor: pointer;
}

.note {
  background: rgba(154, 236, 113, 0.596);
  padding: 20px;
  border-radius: 8px;
  margin: 15px;
}

.note h3 {
  margin-top: 0;
}

.tags {
  margin-top: 10px;
}

.tag {
  display: inline-block;
  background: #ddd;
  padding: 4px 10px;
  border-radius: 20px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-btn {
  margin-top: 10px;
  background: rgb(232, 53, 89);
  color: white;
  border: none;
  padding: 8px 12px;
}

.active-tag {
  background: #333;
  color: white;
}